/﻿.vs
/.vscode
.directory
*.kdev4
/.project
/.cproject
/.cproject
build/
/compile_commands.json
/CMakeSettings.json
/.settings/
/.clangd
/.cache
*.log
/eigen-3.3.5
*.msh
/eigen*
*.mtx
*.pyd
/dist
/*.egg-info
/pyeitsolver.cpp
/libs
venv/
dist/
*.npy
*.hdf5